.img-carousel {
	margin: auto;
	height: 500px !important;
	width: 500px; 
}
.occhiolino {
	width:100%;
}
.botton-occhiolino {
	background-color: transparent;
	border: none;
	margin-left: -30px;
	width: 50% !important;
}
<<<<<<< HEAD
.search {
	float: right !important;
}
td > img {
	width: 40px;
	height: 40px;
}

