.img-carousel {
	margin: auto;
	height: 500px !important;
	width: 500px; 
}
.occhiolino {
	width:100%;
}
.botton-occhiolino {
	background-color: transparent;
	border: none;
	margin-left: -30px;
	width: 50% !important;
}
.search {
	float: right !important;
}
td > img {
	width: 40px;
	height: 40px;
}
form > button > img {
	/*background-color: white;
	margin: auto;*/
	width: 100%;
	/*width: 20px !important;
	height: 20px !important;*/
}
.bottone-carrello {
	background-color: transparent;
	width: 40px;
	padding: 0;
	border: none !important;
	margin-top: 5px;
}
.zoom {
   /* padding: 50px;
    background-color: green;*/
    transition: transform .2s;
    /*width: 50px;
    height: 50px;*/
    margin: 0 auto !important;
    width: 50px;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(4.5); 
}
td > div > img {
	width: 40px;
	height: 40px;
}