.img-carousel {
	margin: auto;
	height: 500px !important;
	width: 500px; 
}
.occhiolino {
	width:100%;
}
.botton-occhiolino {
	background-color: transparent;
	border: none;
	margin-left: -30px;
	width: 50% !important;
}
.search {
	float: right !important;
}
td > img {
	width: 40px;
	height: 40px;
}
form > button > img {
	/*background-color: white;
	margin: auto;*/
	width: 100%;
	/*width: 20px !important;
	height: 20px !important;*/
}
.bottone-carrello {
	background-color: transparent;
	width: 40px;
	padding: 0;
	border: none !important;
	margin-top: 5px;
}
